body{
    background-image: url(skincare.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1, h2{
    color: #ffffff;
    text-align: center;
    font-size: 75px;
}
h2{
    font-size: 25px;
}